/CHANGELOG
/LICENSE.txt
bin/
build/
conf/
dist/
docs/
eclipse/.metadata
eclipse/Minecraft/.idea/workspace.xml
jars/
logs/
run/
runtime/
*~
src/minecraft/*.*
src/minecraft/assets/
src/minecraft/cpw/
src/minecraft/ibxm/
src/minecraft/net/minecraft/*/*.java
src/minecraft/net/minecraft/*/*/*.java
src/minecraft/net/minecraft/*/*/*/*.java
src/minecraft/net/minecraftforge/
src/minecraft/paulscode/

!src/minecraft/net/minecraft/client/renderer/entity/RenderFacade.java
!src/minecraft/net/minecraft/src/mod_JourneyMap.java
!src/minecraft/net/minecraft/src/mcmod.info
!src/minecraft/net/minecraft/src/license.txt
!src/minecraft/net/techbrew/

/temp/
.gradle/
tmp/
.idea/
eclipse/
out/
journeymap.iml
journeymap.ipr
journeymap.iws